@import '../../../css/global.scss';

.comment {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .star-wrapper {
        width: 80%;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start;
    }
    .comment-text {
        width: 80%;
        margin-bottom: 20px;
        .comment-input {
            
        }

    }
    .commit-wrapper button{
        background-color: #fafafa;
        width: 200px;
        border: 1px gray solid;
        cursor: pointer;
    }
}