@import '../../../css/global.scss';

.booking-id-list {
    float: left;
    width: 330px;
    height: 100%;
    border-right: 1px gainsboro solid;
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    padding-top: 30px;
    padding-bottom: 80px;
    margin-bottom: 80px;
    &::-webkit-scrollbar {
        display:none
    } 
    .title-text {
        width:100%;
        @include center();
        font-size: 30px;
        font-weight: bold;
        box-sizing: border-box;
        margin: 0 40px;
    }
    .booking-order-selected {
        background: red;
    }
    .booking-order-wrapper {
        cursor: pointer;
        margin-bottom: 20px;
        border-radius: 20px;
        background-color: white;
        display: flex;
        width: 85%;
        color: #777;
        flex-direction: column;
        align-items: center;
        height: 100px;
        border: 1px gainsboro solid;
        padding: 10px;
        box-shadow: 0.7px 0.9px 1px #999;
        .parking-lot-msg-wrapper {
            margin-top: 5px;
            font-size: 15px;
            width: 90%;
            border-bottom: 1px solid ;
            display: flex;
            justify-content: space-between;
            .parking-lot-name-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .parking-lot-name {

                }
                .parking-lot-address {

                }
            }
            .price-wrapper {
                margin-top: 25px;
                .price-text {
                }
                .price-char {
                    font-size: 12px; 
                }
            }
        }
        .time-status-wrapper {
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin-top: 3px;
            .time-wrapper {
                font-size: 12px;
                .month {

                }
                .time {
                    padding-left: 12px;
                }
            }
            .status-wrapper {
                color: #59b048;
                font-size: 12px;
                .status {
                }
            }
        }
    }
    .active {
        background-color: #fafafa;
        box-shadow: 1px 1px 5px red;
    }
    .normal {
        background-color: white;
    }
    .normal:hover{
        width: 86%;
    }
}