@import '../../../css/global.scss';

.top-navigation-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  box-sizing: border-box;
  border-bottom: 1px solid #aaa;
  background-color: #fff;
  z-index: 100;
  @include center();
  justify-content: flex-start;
  .about-team {
    width: 10%;
    height: 60%;
    color: #666;
    font-weight: bolder;
    @include center();
    border-right: 1px solid #aaa;
  }
  .booking-enter {
    width: 10%;
    height: 60%;
    color: #666;
    font-weight: bolder;
    @include center;
    cursor: pointer;
    color: rgb(102, 143, 255);
  }
  .address-input-wrapper {
      margin-left: 100px;
      border: 1px solid #aaa;
      width: 500px;
      height: 60%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .address-input {
          width: 450px;
          height: 90%;
          outline: none;
          color: #666;
          font-size: 13px;
          font-weight: bold;
          background-color: #fff;
          border: none;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          &::-webkit-input-placeholder {
            color: #ccc;
            font-size: 12px;
            font-weight: bold;
        }
      }
      .search-btn {
          outline: none;
          border: none;
          height: 100%;
          width: 50px;
          vertical-align: top;
          background-color: #fff;
          cursor: pointer;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
      }
      .icon-search {
          width: 50px;
          font-size: 20px;
          color: #999;
          line-height: 20px;
          @include center();
      }
      .reg-address-list {
        position: absolute;
        top: 101%;
        left: 0;
        width: 500px;
        background:#fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        .r-result {
          height: 50px;
          width: 500px;
          padding: 0 10px;
          font-weight: bold;
          display: flex;
          align-items: center;
          cursor: pointer;
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background-color: #ccc;
          }
          .reg-address {
            margin-left: 10px;
            width: 470px;
            height: 50px;
            display: flex;
          align-items: center;
          }
          .icon-position {
            color: red;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
  }
  .user-login {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    background-color: #ccc;
    border-radius: 999px;
    .icon-user {
      color: #777;
    }
    .img {
      width: 50px;
      height: 50px;
      border-radius: 999px;
    }
  }
  .img-wrapper {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 140px;
    top: 4px;
    border-radius: 999px;
    .img {
      width: 50px;
      height: 50px;
      border-radius: 999px;
    }
  }
  .cancel-wrapper {
    position: absolute;
    z-index: 100;
    height: 100px;
    width: 100px;
    top: 30%;
    right: 30px;
    font-size: 18px;;
    color: rgb(102, 143, 255);
  }
  .cancel-hidden {
    display: none;
  }
}