.booking-content {
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
}

.ant-descriptions-bordered .ant-descriptions-view {
    margin-bottom: 45px;
}

.ant-descriptions-title{
    flex:none !important;
    margin-top: 15px !important;
}

.btn-div .ant-btn{
    margin: 0 15px !important;
    width: 230px !important;
}

.ant-alert-with-description{
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    width: 60% !important;
}

.completed {
    color: green !important;
}

.uncompleted {
    color: orange !important;
}

.ant-descriptions-item-content{
    text-align: left;
}
.QRcode{
    float: right;
    margin-right: 100px;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
}
.hiddenQRcode{
    display: none;
}
.QRcode:hover{
    color: cornflowerblue;
}
.fetchCodeModal{
    width: 300px !important;
    margin-left: 100px !important;
}
.fetchCodeImg{
    margin-left: 26px;
}