@import '../../../css/global.scss';

.booking-content-wrapper {
    min-width: 780px;
    margin-left: 330px;
    height: 100%;
    /* background-color: #697f91; */
    background-color: white;
    display: flex;
    flex-direction: column;
    .booking-content-center {
        width: 100%;
        height: 58%;
        background-color: white;
        @include center();
    }
    .comment-wrapper {
        width: 100%;
        height: 42%;
        display: flex;
        justify-content: center;
    }
}